.accordion-container {
  padding: 20px;
  width: 300px;
  height: 70px;
  color: #272932;
}

.accordion-title {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #0f7173;
  background-color: #e7ecef;
}

.accordion-title button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
}
